.header {
  background-color: $color-default-white;
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 10;

  & .logo__main,
  & .logo__left,
  & .logo__right {
    opacity: 1;
  }

  & .logo__main svg {
    min-width: 20px;
    height: 35px;
    margin: 0 10px;
  }

  & .logo__left svg,
  .logo__right svg {
    width: auto;
    height: 30px;

    @include viewport--md {
      // height: 80px;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
}
