.logo {
  display: flex;
  z-index: 5;

  &__left,
  &__right {
    z-index: 5;
    opacity: 0;
  }
}

.logo__main {
  transition: 0.6s ease-out;
  z-index: 10;
  opacity: 0;

  & svg {
    min-width: 80px;
    height: auto;
    margin: 0 30px;
  }
}

.logo__left svg,
.logo__right svg {
  width: auto;
  height: 100px;

  @include viewport--md {
    height: 80px;
  }
}
